<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <!--
          <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete
          source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy
          customization.</p>
        -->
        <p>Hello and welcome! I’m Reid - a self-taught developer and passionate learner looking to earn my first 
          role in the industry.
        </p>
        <br />
        <p>My background and interests - and, therefore, my skillset - are diverse: having studied European history 
          and German in college, I went to Germany on a Fulbright Scholarship after graduation to work as an English 
          Teaching Assistant. Brought back stateside in the early days of the pandemic, I joined a startup where I 
          contributed as a marketing “jack-of-all-trades” for the next two years.</p>
      </div>
      <div class="col-lg-4">
        <!--
          <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
        -->
        <p>Being ensnared in the first wave of tech/startup layoffs at the end of 2022, I took time to reflect on my 
          experience and realized rather quickly that the most exciting aspect of my work was learning and working with 
          Python. Since then, I have been continually striving to build-out my skills with Python and MERN.</p>
        <br />
        <p>Interested in learning more? Check out my résumé below. Have questions or thoughts? Send me a message via the 
          form at the bottom of this page, and/or find me on LinkedIn. I look forward to hearing from you!</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <!--
             (6/2/23) Changing `href` value from "https://github.com/jeromelachaud/freelancer-theme" to 
             "https://drive.google.com/file/d/1Gorhn-wQt3dZJnFGlgp1Jp8Pblfwu0Zy/view?usp=sharing" 
             to provide site visitors view-only access to my résumé:
        -->
        <a href="https://drive.google.com/file/d/1Gorhn-wQt3dZJnFGlgp1Jp8Pblfwu0Zy/view?usp=sharing" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Résumé
        </a>
      </div>
    </div>
  </div>
</section>
